* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
    color: #21243D;
    font-size: 16px;
}
.header {}
.wrapper {}
.logo {}
.menu {}
.header_menu {}
.phone {}
.block1 {}
.wrapper1 {}
.text {}
.button {}
.img1 {}
.img2 {}
.img3 {}
.menu_product {}
.block2 {}
.impotant {}
.impotant_for_us {}
.quality {}
.speed {}
.a_responsibility {}
.footer {}
.menu_product2 {}
.logo2 {}
.contacts_icon {}
.icons {}
.visa {}
/* fjhgfjhg */

           
        
         
       
      